/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #2f5a88;
  --f7-theme-color-rgb: 47, 90, 136;
  --f7-theme-color-shade: #25466a;
  --f7-theme-color-tint: #396ea6;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 47;
  --g: 90;
  --b: 136;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */

#onlinePeopleListHome {
  padding-left: 3%;
  margin-right: 3%;
}

.onlineImage {
  border-radius: 50%;
  padding-left: 5px;
}
.onlineName {
  margin-left: 12px;
  color: black;
  margin-top: -1px;
}
.placePostCol{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.gridProfile {
margin-top: -20px;
text-align: center;

}
.userProfileImage{
  border-radius: 50%;
}

.menuMargin{
  padding-top: 25px;
}

.placeAddFriendCol {
margin-left: 15px;
margin-right: 15px;
margin-top: 15px;
}
.placeAddProfileCol {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  }
  
.fontStyleUserProfile  {

  font-weight: bold;

}

.blockComment {
  padding-right: 100px;
  margin-bottom: 50px;
}
.MessageBar{
  margin-bottom: 10px;
}
.IconSendMessage {

padding-bottom: 53px;
}

.inputtypeImage {
  margin-left: 15px;
  margin-top: 10px;
}
.messagesPadding {
  padding-top: 10px;
}

.imgPost {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 300px;
  height: 300px;
padding-left: 10%;
  
 
}

.raportInputText{
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
}




/*Moet nog eens naar gekeken worden*/
.commentFixedPosition {
padding-top: 30px;
}


.scrollMessages{

overflow-x: auto;
  scroll-behavior: smooth;
  
}

.paddingTop {
  margin-top: -40px;
}
.fontSizePostsDate {
  font-size: 12px;
}

.onlineToggleGrid {
  width: 70%;
padding-left: 60px;
}



.demo-facebook-avatar {
margin-left: -16px;
}




/* chat page */



.usermessagestext {
  display: inline-block;
  color: white;
}


.userTextImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
margin-bottom: -33px;
margin-left: 5px;


}
